@import "~bulma";
@import "~font-awesome/scss/font-awesome.scss";

@font-face
{
  font-family: plugFont;
  src: url('impact.ttf')
}

.title {
  font-size: 45px;
}

h1 {
  font-size: 30px;
}

.image-is-centered {
  margin-right: auto;
  margin-left: auto;
}

.home {
  .container {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .best-memes {
    padding: 0;

    figure {
      margin: 10px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .equipe {

    height: 450px;

    .box {
      margin-right: auto;
      margin-left: auto;
      width: 240px;
      height: 350px;
    }

    .image-equipe {
      width: 200px;
      height: 250px;
    }
  }
}

.profile {
  .image-is-centered {
    margin-bottom: 10px;
  }
}

.memes {
  .meme {
    margin-bottom: 20px;
  }
}

.pic-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.recherche {
  margin-top: 20px;
}